// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
main {
    min-height: calc(100vh - 420px);
}

.banner {
    height: 645.1px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#banner-top {
    background-color: #F0E9E1;
}
.banner__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // max-width: 637px;
    // margin: 0 auto;
}

.deera__banner {
    &-img {
        width: 637px;
        height: 154px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        width: 402.9px;
        text-align: center;
        font-size: 16.8px;
        color: #000000;
        margin: 30px auto 0 auto;
    }
}

.deera__introduce {
    // background: #F0E9E1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-ttl {
        font-family: 'Tangerine';
        text-align: center;
        font-size: 132.6px;
    }
    &-text {
        font-family: 'MyriadPro';
        width: 486px;
        margin: 0 auto;
        font-size: 16.8px;
        color: #000000;
    }
}
.deera__image {
    &-box {
        position: relative;
        padding: 48px 8px;
        height: 950px;
    }
    
}
.deera__image {
    &-1 {
        position: absolute;
        right: 200px;
        top: 48px;
        img {
            width: 402.54px;
            height: 269.57px;
            object-fit: cover;
        }
    }
    &-2 {
        position: absolute;
        left: 80px;
        bottom: 244px;
        img {
            width: 339.58px;
            height: 399.31px;
            object-fit: cover;
        }
    }
    &-3 {
        position: absolute;
        right: 68px;
        bottom: 48px;
        img {
            width: 364.29px;
            height: 402.54px;
            object-fit: cover;
        }
    }
}
.text-loop {
    // background: #F0E9E1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 150px;
        padding: 8px;
        // overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        animation: text-loop-animation 15s linear infinite;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            flex-shrink: 0;
            text-transform: uppercase;
            font-family: "Gilroy";
            font-weight: 500;
            display: block;
            color: #000000;
            font-size: 23.4px;
        }
    }
    &.add-font{
        ul {
            li {
                font-family: "Tangerine";
            }
        }
    }
}

.deera__newkol  {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-custom {
        padding: 296px 8px 146px 8px;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        gap: 65px;
    }
    &-left {
        width: 30%;
    }
    &-right {
        width: 70%;
        position: relative;
    }
    &-swiper {
        // position: relative;
        overflow: hidden;
    }
    &-slide {
        a {
            // display: block;
            height: 100%;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 250px;
        }
    }
    &--newhot {
        font-family: 'Tangerine';
        font-size: 132.6px;
        line-height: 100%;
        position: absolute;
        top: -150px;
        z-index: 1;
        width: 600px;
    }
    &--desc {
        padding-top: 160px;
        font-size: 18px;
        font-weight: 400;
    }
}
.box-ttl-newhot {
    position: relative;
}
.deera__newkol-swiper {
    padding-right: 50px;
    .swiper-button-prev {
        top: 39%;
        right: 423px;
        left: unset;
        transform: rotate(180deg);
    }
    .swiper-button-next {
        top: 39%;
        left: -65px;
        transform: rotate(180deg);
    }
    .swiper-slide-next {
        padding-top: 56px;
    }
    .swiper-slide {
        &.swiper-slide-active {
            img {
                height: 645px;
            }
            .kol__information {
                display: block;
                transition: all .2s linear;
            }
        }
        img {
            height: 500px;
            width: 100%;
            object-fit: cover;
            border-radius: 250px;
            padding: 35px 24px;
            border: 1px solid #000000;
        }
        a {
            display: block;
        }
    }
    .swiper-pagination {
        text-align: right;
        font-size: 42.7px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 28px;
        bottom: 81px;
        z-index: 0;
    }
    .swiper-pagination-separator {
        position: relative;
        &::before {
            content: "";
            width: 5.9px;
            height: 5.9px;
            background: #F0E9E1;
            border-radius: 999px;
            position: absolute;
            bottom: 22px;
            left: -12px;
        }
        &::after {
            content: "";
            width: 5.9px;
            height: 5.9px;
            background: #F0E9E1;
            border-radius: 999px;
            position: absolute;
            bottom: 22px;
            right: -12px;
        }
    }
}

.kol__information {
    margin-top: 50px;
    display: none;
}
.kol__name {
    font-family: 'Gilroy';
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    a {
        color: #000000;
    }
}
.kol__social {
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &-item {
        text-align: center;
    }
    &-name {
        font-family: 'Gilroy';
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 8px;
    }
    &-total {
        font-family: 'Gilroy';
        font-size: 34.8px;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.viewmore {
    margin-top: 59px;
    a {
        color: #000000;
        display: flex;
        align-items: center;
        gap: 28px;
        font-size: 17.4px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        img {
            width: 15.7px;
            height: 15.7px;
        }
    }
}
.news {
    padding: 100px 8px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        font-family: "Gilroy";
        max-width: 636px;
        margin: 0 auto;
        font-size: 18px;
    }
}
.news__swiper-inner {
    margin-top: 50px;
    .swiper-slide {
        a {
            display: block;
        }
        img {
            height: 449px;
            width: 100%;
            object-fit: cover;
            border-radius: 42px 42px 0 0;
        }
    }
}
.news__swiper {
    position: relative;
    &-content {
        padding: 24px 46px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
    }
    &-ttl {
        font-family: "Gilroy";
        width: 413.1px;
        color: #000000;
        font-size: 47.8px;
        text-transform: uppercase;
        font-weight: 600;
    }
    &-subtext {
        font-family: "Gilroy";
        flex: 1;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
    }
    .swiper-pagination {
        .swiper-pagination-bullet  {
            width: 30px;
            height: 3px;
            border-radius: 0;
            &.swiper-pagination-bullet-active {
                background: #DF7927;
            }
        }
    }
}
.deera__lastest {
    &-title {
        position: relative;
        font-family: "Tangerine";
        font-size: 43.6px;
        text-transform: uppercase;
        &::after {
            content: "";
            width: 100%;
            bottom: 17px;
            left: 192px;
            height: 1px;
            background: #000000;
            position: absolute;
        }
    }
}

.deera__lastest {
    padding: 50px 8px;
    &-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-top: 38px;
    }
    &-item {
        border: 1px solid #000000;
        // border-right: 1px solid #000000;
        // border-left: 1px solid #000000;
        a {
            display: block;
        }
        &:nth-child(1) {
            border-radius: 100px 0 0 0;
            overflow: hidden;
        }
        &:nth-child(2) {
            border-radius: 0 100px 0 0;
            overflow: hidden;
        }
        &:nth-child(3) {
            border-radius: 100px 0 0 0;
            overflow: hidden;
        }
        &:nth-child(4) {
            border-radius: 0 100px 0 0;
            overflow: hidden;
        }
    }
    &-img {
        height: 318.7px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name {
        font-family: "Gilroy";
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        padding: 20px 10px;
        font-size: 22px;
    }
}

.clients {
    padding: 174px 8px;
    &__list {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 24px;
    }
    &__item-name {
        margin-bottom: 30px;
        font-size: 28px;
        text-align: center;
    }
    &__item-img {
        width: 100%;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}
.clients__title {
    text-align: center;
    margin-bottom: 60px;
}

.service {
    &__inner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__box {
        height: 1091px;
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 40%;
        padding: 0 36px;
    }
    &__right {
        width: 60%;
        padding: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__body {
        background: #F0E9E1;
        padding: 80px 40px;
        border-radius: 53px;
        &-title {
            text-align: center;
        }
        &-desc {
            font-family: "Gilroy";
            color: #000000;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &__commonbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__number-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 35px;
        a {
            font-family: "Gilroy";
            display: block;
            padding: 10px;
            border: 1px solid #000000;
            border-radius: 100px;
            text-transform: uppercase;
            color: #000000;
            font-size: 20px;
            &.active {
                color: #F0E9E1;
                background: #000000;
            }
            &:hover {
                color: #F0E9E1;
                background: #000000;
            }
        }
    }
}
.search__project {
    margin-top: 65px;
    &-group {
        position: relative;
        img {
            width: 23px;
            height: 23px;
            position: absolute;
            left: 0;
            top: 19px;
        }
    }
    &-control {
        width: 100%;
        border: none;
        background: none;
        border-bottom: 1px solid #000000;
        outline: none;
        padding: 16px 34px;
        line-height: 100%;
        &::placeholder {
            font-family: "Gilroy";
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.service__swiper {
    overflow: hidden;
}

.project {
    &__list {
        display: flex;
        align-items: center;
        gap: 60px;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &.active {
            justify-content: center;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 472.3px;
        border-radius: 40px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        position: absolute;
        top: 38px;
        left: 38px;
        z-index: 1;
        text-transform: uppercase;
        font-size: 43px;
        color: #000000;
        font-family: "Gilroy";
        font-weight: 600;
    }
}
.bg-custome-news {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}