.news-item {
  // height: 820px;
  .deera__banner-img{
    width: 100%;
    height: auto;
    img {
      object-fit: contain;
    }
  }

  &-bg {
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-dflex{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 8px;
  }

  &-content{
    flex: 1;
    padding-top: 40px;
  }

  &-headling{
    font-size: 50px;
    line-height: 130%;
    font-family: "Tangerine";
  }

  &-date{
    font-family: "Gilroy";
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
  }
  &-date-categories{
    padding-left: 150px;
  }

  &-subtitle{
    padding-bottom: 40px;
  }

  &-history{
    width: 260px;
    min-width: 260px;
    &-headling{
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 20px;
      
    }
  }

}

.detail__new-content {
  font-family: "Gilroy";
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  img {
    width: 100%;
    height: 100%;
  }
}
.news-item-history-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.news-item-history-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.history__new {
  &-img {
    a {
      display: block;
      width: 100%;
      height: 110px;
      border-radius: 12px;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.history__new-content {
  margin-top: 4px;
  a {
    display: block;
    width: 100%;
  }
  .news-item-history-title {
    font-family: "Gilroy";
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .news-item-history-date {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
  }
}