// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: #000000;
}
.deera__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    padding: 44px 8px;
    &-left {
        width: 300px;
    }
    &-right {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        row-gap: 35px;
    }
    &-logo {
        width: 189px;
        height: 63.8px;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            filter: invert(50%) sepia(74%) saturate(426%) hue-rotate(343deg) brightness(95%) contrast(91%);
        }
    }
    &-sub {
        color: #F0E9E1;
        padding: 20px 0 28px 0;
        font-size: 14px;
    }
    &-social {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 8px;
        &--item {
            width: 24px;
            height: 24px;
        }
        a {
            display: block;
           width: 100%;
           height: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &-title {
        font-size: 14px;
        color: #F0E9E1;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 700;
    }
    &-link {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            a {
                display: block;
                font-size: 14px;
                color: #F0E9E1;
                font-weight: 300;
            }
            &:hover {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #F0E9E1;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}