.common__title {
    font-family: "Tangerine";
    font-size: 132.6px;
    line-height: 100%;
    &.text-uppercase {
        text-transform: uppercase;
    }

    &.text-white {
        color: #fff;
    }
}