@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: abstracts.$brand-color;
  text-decoration: none;

  @include abstracts.on-event {
    color: abstracts.$text-color;
    // text-decoration: underline;
  }
}

.max-w-screen-xl {
  max-width: 1280px;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.swiper-button-prev {
  width: 41.1px !important;
  height: 41.1px !important;
  border-radius: 999px;
  border: 1px solid black;
  background: #F0E9E1;
  &::after {
    font-size: 18px !important;
    color: #000000;
  }
}

.swiper-button-next {
  width: 41.1px !important;
  height: 41.1px !important;
  border-radius: 999px;
  border: 1px solid black;
  background: #F0E9E1;
  &::after {
    font-size: 18px !important;
    color: #000000;
  }
}

@keyframes text-loop-animation {
  0% {
      transform: translate(100%)
  }

  to {
      transform: translate(-100%)
  }
}


.brand-mobile {
  display: block;
}

@media (min-width: 1025px) {
  .brand-mobile {
      display: none;
  }
}

.brand-desktop {
  display: none;
}

@media (min-width: 1025px) {
  .brand-desktop {
      display: block;
  }
}